`@model MealBoxCloud.Models.CustomerModel
@{
    ViewBag.Title = "AddCustomer";
}
@section Styles {

    <link href="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/dist/css/sweetalert.css" rel="stylesheet" />
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>

}

<h2>Enter Customer</h2>

@using (Html.BeginForm("AddSupplier", "Managment", FormMethod.Post, new { @id = "AddSupplier" }))
{
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.CustomerName)
            @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control", @placeholder = "Enter Item Name" })
            <span class="error">Please Write Customer Name..</span>
            @Html.HiddenFor(x => x.CustomerID)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(x => x.NTN)
            @Html.TextBoxFor(x => x.NTN, new { @class = "form-control", @placeholder = "Enter Item Name" })
            <span class="error">Please Write Contact Person...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.Area)
            @Html.DropDownListFor(x => x.Area, null, "---Select---", new { @class = "form-control", @placeholder = "Enter Item Name" })
            <span class="error">Please Select Area...</span>
        </div>
        <div class="col-md-6">
            @Html.LabelFor(x => x.city_)
            @Html.DropDownListFor(x => x.city_, null, "---Select---", new { @class = "form-control" })
            <span class="error">Please Select City...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.PhoneNo)
            @Html.TextBoxFor(x => x.PhoneNo, new { @class = "form-control num" })
            <span class="error">Please Write PhoneNo...</span>
            @Html.ValidationMessageFor(x => x.PhoneNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            <span class="error">Please Write Email...</span>
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.NIC)
            @Html.TextBoxFor(x => x.NIC, new { @class = "form-control num" })
            @Html.ValidationMessageFor(x => x.NIC, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(x => x.Address)
            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.Discount)
            @Html.TextBoxFor(x => x.Discount, new { @class = "form-control num" })
            @Html.ValidationMessageFor(x => x.Discount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="margin-top:20px;margin-left:10px;">
        <input type="button" class="btn btn-success" value="Save" id="Save" />
        <div class="col-md-3">
            @Html.ActionLink("Return To List", "CustomerList")

        </div>
    </div>
}


@section
    scripts

    {

    <script src="~/dist/js/sweetalert.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {

            $(".num").keypress(function (e) {
                debugger;
                var charCode = (e.which) ? e.which : e.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }

            });
        });




        $('#Save').click(function () {
            debugger;
            var isallvalid = true;
            isallvalid = Validate();
            if (isallvalid) {
                var GetDateTime = new Date();
                var obj = {
                    "CustomerName": $('#CustomerName').val(),
                    "NTN": $('#NTN').val(),
                    "city_": $('#city_').val(),
                    "CustomerID": $('#CustomerID').val(),
                    "PhoneNo": $('#PhoneNo').val(),
                    "Email": $('#Email').val(),
                    "SalePrice": $('#SalePrice').val(),
                    "Email": $('#Email').val(),
                    "NIC": $('#NIC').val(),
                    "Address": $('#Address').val(),
                    "Area": $('#Area').val(),
                    "Discount": $('#Discount').val(),
                    "CreatedAt": GetDateTime.toLocaleString()
                }
                $.ajax({
                    type: 'Post',
                    url: '/Managment/AddCustomer',
                    contentType: "application/json?charset=utf-8",
                    data: JSON.stringify(obj),
                    success: function (data) {
                        Clear();
                        
                        swal("", "Data Has Been save", "success")
                    },
                })
            }
        })

        $('#CustomerName').change(function () {
            if ($('#CustomerName').val().trim() != "") {
                $('#CustomerName').siblings('span.error').css('visibility', 'hidden')
            }
            else {
                $('#CustomerName').siblings('span.error').css('visibility', 'visible')
            }
        })

        $('#Area').change(function () {
            if ($('#Area').val().trim() != "") {
                $('#Area').siblings('span.error').css('visibility', 'hidden')
            }
            else {
                $('#Area').siblings('span.error').css('visibility', 'visible')
            }
        })



        $('#city_').change(function () {
            if ($('#city_ option:selected').text() == "---Select---") {
                $('#city_').siblings('span.error').css('visibility', 'visible')
            }
            else {
                $('#city_').siblings('span.error').css('visibility', 'hidden')
            }
        })

        $('#PhoneNo').change(function () {
            if ($('#PhoneNo').val().trim() != "") {
                $('#PhoneNo').siblings('span.error').css('visibility', 'hidden')
            }
            else {
                $('#SalePrice').siblings('span.error').css('visibility', 'visible')
            }
        })



        function Clear() {
            $('input[type="text"]').val("");
            $('select').each(function () { $(this).val('') })

        }

        function Validate() {
            debugger;
            var isallvalid = true;
            if ($('#CustomerName').val().trim() == "") {
                $('#CustomerName').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#CustomerName').siblings('span.error').css('visibility', 'hidden')
            }
            if ($('#Area').val().trim() == "") {
                $('#Area').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#Area').siblings('span.error').css('visibility', 'hidden')
            }
            if ($('#city_ option:selected').text() == "---Select---") {
                $('#city_').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#city_').siblings('span.error').css('visibility', 'hidden')
            }
            if ($('#PhoneNo').val().trim() == "") {
                $('#PhoneNo').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#PhoneNo').siblings('span.error').css('visibility', 'hidden')
            }
            if ($('#Discount').val().trim() == "") {
                $('#Discount').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#Discount').siblings('span.error').css('visibility', 'hidden')
            }

            return isallvalid;
        }
    </script>
}