@model MealBoxes.Models.PosModel  
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PosInvoice</title>
    <style>
        .headLeft 
        {
            width: 50%;
            height: auto;
            float: left;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .headLeft_img {
            float: left;
        }
        .main {
            width: 100%;
            height: auto;
        }

        .mainItem {
            width: 100%;
            height: auto;
        }
        .Top_left {
            width: 60%;
            height: 140px;
            float: left;
            font-size: small;
            padding-left: 10px;
        }
        .Top_right {
            width: 30%;
            height: 140px;
            float: right;
            padding-right: 10px;
        }
        .headRight_h4 {
            width: 130px;
            text-align: center;
            height: 25px;
            float: right;
        }
        .headRight {
            width: 47%;
            height: auto;
            float: left;
            font-family: Arial, Helvetica, sans-serif;
            text-align: right;
            padding: 20px 10px 0px 0px;
        }
        .main_left {
            width: 30%;
            height: 80px;
            padding: 30px 10px;
            float: left;
            font-size: small;
        }
        .Top {
            width: 100%;
            height: 200px;
            font-size: small;
        }

        .main_right {
            width: 31%;
            height: 140px;
            float: right;
            font-size: small;
        }
        .headRight_h4 h4 {
            margin: 0px;
            padding: 5px;
        }
        .headRight h2 {
            margin: 0px;
            padding: 20px 0px 0px;
        }
       
    </style>
</head>
<body>
    <div class="head">
        <div class="headLeft">
            <div class="headLeft_img">
                <img src="../../Images/logo.jpg" alt="logo" />
            </div><h1><span id="lblLogo" style="font-size:Larger;">Naina s</span> <span>PAKISTAN</span></h1>


        </div>
        <div class="headRight">
            <h2>POS Invoice</h2>
            <div class="headRight_h4">
                <h4>ORIGINAL</h4>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="Top">
        <div class="Top_left">
            <table>
                <tr>
                    <td>Customer:</td>
                    <td>Cash SAMPLE</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Area:</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Number:</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <div class="Top_right">
            <table class="table" border="1">

                @foreach (var item3 in Model.sp_PosInvoice.Select(s => new { s.billno }).Distinct())
                {
                    foreach (var Item4 in Model.sp_PosInvoice.Where(w => w.billno == item3.billno).Select(s => new { billno = s.billno, billdate = s.Billdate }).Distinct())
                    {


                        <tr>
                            <td>Invoice No.</td>
                            <td><span id="bill_no">@Item4.billno</span></td>
                        </tr>
                        <tr>
                            <td>Invoice Date </td>
                            <td><span id="lbl_dattim">@Item4.billdate</span></td>
                        </tr>
                        <tr>
                            <td>Serve By</td>
                            <td><span id="lbl_usr">admin</span></td>
                        </tr>
                    }
                }
                    </table>
        </div>
    </div>
    <div class="clear"></div>
    <div class="main">
        <div class="mainItem">
            <div>

            </div>
        </div>
        <div class="main_left">
            نوٹ : اوریجنل بل یا کمپنی کی تصدیق شدہ ڈپلیکیٹ بل کے <p>
                بغیر کوی رقم قابل ادا نہیں ہو گی۔
            </p>
            <p>
                Note: No Payment will be acceptable <br />
                without original or company stamped <br />
                duplicate bill.
            </p>
        </div>
        <div class="main_right">
            <table class="table" border="1">

                @foreach (var item in Model.sp_PosInvoice.Select(s => new { s.billno }).Distinct())
                {
                    foreach (var Item2 in Model.sp_PosInvoice.Where(w => w.billno == item.billno).Select(s => new { Subtotal = s.Amount, per17 = s.Per17Amt, per3 = s.Per3Amt, Discount = s.DiscountAmount , TotalAmt = s.TotalAmount }).Distinct())
                    {


                        <tr>
                            <td>Sub Total</td>
                            <td><span id="lbl_netamt">@Item2.Subtotal</span></td>
                        </tr>
                        <tr>
                            <td>Saletax 17Per </td>
                            <td><span id="lbl_dscamt">@Item2.per17</span></td>
                        </tr>
                        <tr>
                            <td>SaleTa 3Per </td>
                            <td><span id="lbl_dscamt">@Item2.per3</span></td>
                        </tr>
                        <tr>
                            <td>Discount </td>
                            <td><span id="lbl_dscamt">@Item2.Discount</span></td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td><span id="lbl_grssamt">@Item2.TotalAmt</span></td>
                        </tr>
                    }
                }
                    </table>
        </div>
    </div>       
</body>
</html>
