@model List<Sp_VerifyDsr_Result>
@{
    ViewBag.Title = "VerifyDsr";
}

<h2>VerifyDsr</h2>

@section Styles {

    <link href="~/plugins/datatables-autofill/css/jquery.dataTables.css" rel="stylesheet" />
    }

<div class="card-header">

<a style="float:right;" type="button" class="btn btn-success" href="@Url.Action("AddDsr","DSR")">Add Order</a>

</div>

<table id="mytable" class="table-bordered table-striped ">
    <thead>
        <tr>
            <th style="text-align:center">Date</th>
            <th style="text-align:center">Booker Name</th>
            <th style="text-align:center">Total Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.DsrDate.Value.ToShortDateString()</td>
            <td>@item.BookerName</td>
            <td>@item.TotalQuantity</td>
            <td><a style="width:100%; height:100%"  href="@Url.Action("BookingSheet","DSR", new { id = @item.BookerId , Date = @item.dsrdat})"><span>Booking Sheet</span></a></td>
            @if(item.SalmanId != null)
            { 
            <td><a style="width:100%; height:100%" href="@Url.Action("VerifyBookingSheet","DSR", new { id = @item.SalmanId  , Date = @item.dsrdat})"><span>Verify BookingSheet</span></a></td>
            }
        </tr>
        }
    </tbody>
</table>

@section Scripts
    {

    <script src="~/plugins/datatables-autofill/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('#mytable').DataTable();
        });
    </script>

}