@model MealBoxes.Models.StickerModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="Row">
    @Html.LabelFor(x => x.Company)
    @Html.TextBoxFor(x => x.Company, new { @class = "form-control" })
</div>
<div class="Row">
    @Html.LabelFor(x => x.BarCode)
    @Html.TextBoxFor(x => x.BarCode, new { @class = "form-control" })
</div>
<div class="Row">
    @Html.LabelFor(x => x.Product)
    @Html.TextBoxFor(x => x.Product, new { @class = "form-control" })
</div>
<div class="Row">
    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control " })
</div>
<div class="Row">
    @Html.LabelFor(x => x.Size)
    @Html.TextBoxFor(x => x.Size, new { @class = "form-control " })
</div>

<div class="row">

    <input type="button" value="Save" id="Save" class="btn-success" style="margin-top:10px;" />

    <div class="col-md-3">
        @Html.ActionLink("Return To List", "StickerList");
    </div>

</div>

    @section scripts
    {

        <script type="text/javascript">

            //$('#Save').click(function () {

            //    debugger;

            //    var obj =
            //    {
            //        "Company": $('#Company').val(),
            //        "BarCode": $('#BarCode').val(),
            //        "Product": $('#Product').val(),
            //        "Price": $('#Price').val(),
            //        "Size": $('#Size').val(),
            //    }

            //    $.ajax({
            //        url: '/Sticker/Index',
            //        type: 'Post',
            //        contentType: 'application/json?charset=utf-8',
            //        data: JSON.stringify(obj),
            //        success: function(){
            //        },
            //        error: function ()
            //        {
                    
            //        }
                  
            //    })

            //})

            $('#Save').click(function () {
                debugger;
                //var isallvalid = true;
                //isallvalid = Validate();
                ///*if (isallvalid) {*/
                    var GetDateTime = new Date();
                    var obj = {
                        "Company": $('#Company').val(),
                        "BarCode": $('#BarCode').val(),
                        "Product": $('#Product').val(),
                        "Price": $('#Price').val(),
                        "Size": $('#Size').val(),
                    }
                    $.ajax({
                        type: 'Post',
                        url: '/Sticker/Index',
                        contentType: "application/json?charset=utf-8",
                        data: JSON.stringify(obj),
                        success: function (data) {
                            Clear();
                            swal({

                                text: "Dat Has Been Save",
                                icon: "success",
                                });
                        },
                    })
                /*}*/
            })

        </script>

    }
